@font-face {
    font-family: 'Hind';
    src: local('Hind'), url(../assets/fonts/PublicSans-VariableFont_wght.ttf) format('truetype');
}




.home{


    .sideBar{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 94.96px;
        height: 6px;
        left: 249px;
        top: 129px;

        .a{
            position: static;
            width: 43.77px;
            height: 6px;
            left: 0px;
            bottom: 0px;

            background: linear-gradient(94.75deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 100.7%), #CD8B65;
            border-radius: 10px;

            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 5px;
        }

        .b{
            position: static;
            width: 20.6px;
            height: 6px;
            left: 48.77px;
            bottom: 0px;

            background: #9F9F9F;
            opacity: 0.36;
            border-radius: 10px;

            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 0px 5px;
        }

        .c{
            position: static;
            width: 20.6px;
            height: 6px;
            left: 74.36px;
            bottom: 0px;

            background: #9F9F9F;
            opacity: 0.36;
            border-radius: 10px;

            flex: none;
            order: 2;
            flex-grow: 0;
            margin: 0px 5px;
        }

    }
    
    .buttonnext{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 24px;
        
        position: absolute;
        width: 124px;
        height: 59px;
        left: 682px;
        top: 844px;
        
        /* Main */
        
        background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        border-radius: 100px;
    }

    a{
        position: static;
        width: 76px;
        height: 19px;
        left: 24px;
        top: 20px;

        /* button */

        font-family: Public Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height, or 136% */


        /* white */

        color: #FFFFFF;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        align-self: center;
        flex-grow: 0;
        margin: 0px 10px;

        &:hover .buttonnext{
            background: linear-gradient(115.41deg, #9e5b35 -1.77%, #863c11 73.03%);
        }
    }

        .test{
        position: absolute;
        width: 199px;
        height: 42px;
        left: 24px;
        top: 500px;
        
        /* title */
        
        font-family: Public Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        /* or 131% */
        
        
        /* white */
        
        color: #270202;    

    }


}

.req{
    position: absolute;
    width: 196.19px;
    height: 19px;
    left: 249px;
    top: 490px;

    
    /* tag */
    
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 119% */
    
    
    /* black */
    
    color: #9c0000;    
}

.numReq{
    position: absolute;
    width: 300px;
    height: 19px;
    left: 500px;
    top: 780px;

    
    /* tag */
    
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 119% */
    
    
    /* black */
    
    color: #9c0000;    
}

.utulokReq{
    position: absolute;
    width: 300px;
    height: 19px;
    left: 585px;
    top: 652px;

    
    /* tag */
    
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 119% */
    
    
    /* black */
    
    color: #9c0000;   
}